* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: lightblue;
    padding: 10px 0px;
}

.flex-container {
    background-color: orange;
    max-width: 980px;
    margin: auto;
    padding: 10px;
    display: flex;
}

.flex-item_logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.flex-item_links {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

.flex-item_login {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.flex-container-header {
    background-color: blue;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-header {
    height: 300px;
    width: 600px;
    background-color: pink;
}

main section:nth-child(even) {
    background-color: rgb(228, 210, 210);
}

section {
    padding: 20px 0px;
}

.flex-container-section {
    max-width: 980px;
    margin: auto;
    display: flex;
}

.flex-item-big-content {
    background-color: rgb(54, 54, 239);
    height: 400px;
    flex-grow: 3;
}

.flex-item-small-content {
    background-color: rgb(246, 119, 140);
    height: 400px;
    flex-grow: 1;
}

.flex-item-giga-content {
    height: 600px;
    background-color: green;
    flex-grow: 1;
}

footer {
    background-color: black;
}

.flex-container-footer {
    max-width: 980px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.flex-container-footer:first-child {
    background-color: salmon;
    width: 40%;
}

.flex-item-thin-content {
    background-color: turquoise;
    width: 15%;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

hr {
    color: rgb(228, 210, 210);
}

.flex-container-contacts-footer {
    background-color: aquamarine;
    max-width: 980px;
    margin: auto;
}

footer section:last-of-type {
    padding-bottom: 0px;
}

.flex-item-contacts-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.flex-item-contacts-footer > * {
    background-color: rgb(228, 210, 210);
    border: 1px dashed black;
}