* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: lightblue;
    padding: 10px 0px;
}

.flex-container {
    background-color: orange;
    max-width: 980px;
    margin: auto;
    padding: 10px;
    display: flex;
}

.flex-item_logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.flex-item_links {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

.flex-item_login {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.flex-container-header {
    background-color: blue;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-header {
    height: 300px;
    width: 600px;
    background-color: pink;
}